a:hover,
a:focus{
    color: aqua !important ;
}
.navbar-default .navbar-nav > li > a{
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}
.carousel-inner{
    height: 100vh;
}
.carousel-caption{
    position: static;

}
.carousel-control.left{
    background-image: none;

}
.carousel-control.right{
    background-image: none;
    
}
.navbar .navbar-default{
    background: transparent;
    border-color: transparent;
}
.carousel-inner{
    background-image: url(../image/3.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    
    

}.banner-text{
    padding: 10% 0;
}
.banner-text h2{
    text-transform: uppercase;
    font-size: 40px;
    color: #ffffff;
    text-shadow: none;
    font-weight: bold;
    text-decoration: underline;
    
}
.banner-text p{
    font-size: 20px;
    color: #f3f2f2;
    text-shadow: none;
    font-weight: bold;
}
.banner-text p:hover{
    color: aqua;
    font-size: 30px;
}
.banner-text a{
    background-color: dodgerblue;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 15px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 50px;
}
/* styling for the blog */

.single-blog{
    box-shadow: 0px 0px 20px 1px rgba(0, 0,0,0.2);
    padding: 10px;
    margin-top: 30px;
    background-color: #fff;
}
.single-blog img {
    width: 100% ;
}
.blog-meta{
   font-size: 14px;
   margin-bottom: 2px;

}.single-blog span{
   float: right;
   font-size: 12px;
   color: cornflowerblue;

}.blog-text{
    font-size: 14px;
    text-align: justify;
}
.single-blog h2 {
   margin-top: 10px;
   font-size: 16px;
   color: #007bff;
 
 }
 .single-blog h2 a {
    text-decoration: none;
  
  }
  .read-more-btn{
      background-image: linear-gradient(to right, #1c03b5,#5c8bef);
      padding: 5px 12px 8px;
      border-radius: 20px;
      line-height: 20px;
      font-size: 14px;
      color: #fff;
      border: none !important;
  }
  .read-more-btn:hover{
    background-image: linear-gradient(to right, #006417,#00b128);
    text-decoration: none;
    color: #fff;
   
}







@media  (max-width:600px){
    .navbar-brand{
        padding: 5px;
    }
    .navbar-default .navbar-nav > li > a:focus,
    .navbar-default .navbar-nav >  li >a:hover{
        background-color: dodgerblue;
    }
    .navbar-header{
        background: transparent;

    }
    .nav .navbar-nav .navbar-right{
        background: #000;
        margin: 0 -15px;
    }
    .banner-text{
        padding: 50% 0;
    }
    .banner-text h2{
        font-size: 20px;
    }
}
    
